<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script defer src="{% static 'js/bootstrap.js' %}"></script>
    <script defer src="{% static 'js/jquery.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <h1 class="text-center my-5">Register</h1>
    <form action="" method="POST" class="form-control text-center" novalidate onsubmit="return validate()">
        {% csrf_token %}
        <label for="">Username :</label><br>
        {{form.username}}
        <span id="error_username" class="text-danger"></span><br>
        <label for="">First Name :</label><br>
        {{form.first_name}}
        <span id="error_f_name" class="text-danger"></span><br>
        <label for="">Last Name :</label><br>
        {{form.last_name}}
        <span id="error_l_name" class="text-danger"></span><br>
        <label for="">Email :</label><br>
        {{form.email}}
        <span id="error_email" class="text-danger"></span><br>
        <label for="">Password :</label><br>
        {{form.password}}
        <span id="error_password" class="text-danger"></span><br><br>
        <label for="">Confirm Password :</label><br>
        {{form.confirm_password}}
        <span id="error_c_password" class="text-danger"></span><br>          
        <input type="submit" value="Submit" class="btn btn-success"><br><br>
        Try to login if already registered <a href="{% url 'subscription:login' %}" class="text-muted">Log in</a>
    </form>
    
</body>
</html>