<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script defer src="{% static 'js/bootstrap.js' %}"></script>
    <script defer src="{% static 'js/jquery.js' %}"></script>
    <title>Document</title>
</head>

<body>
    <video autoplay="autoplay" controls="controls" preload="preload" class="w-50 my-auto">
        <source src="{{video.video.url}}" type="video/mp4">
        </source>
    </video><br>
    <h1 class="card-title">{{video.name}}</h1>
    <h3 class="card-text">{{video.discription}}</h3>
    <a href="{% url 'subscription:home' %}" class="btn btn-primary">Go Back</a>
</body>

</html>